.App {
  text-align: center;
  background: rgb(32, 55, 78);
}

.App-header {
  background-color:rgb(54, 88, 122);
  display: flex;
  align-items: center;
  justify-content: space-around;
    font-size: calc(10px + 2vmin);
  color: aliceblue;
}

.item-details{
  display: flex;
  flex-direction: column;
}

.all-item{
  padding: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px 50px;
  justify-content: space-evenly;
}

.MuiBox-root-6 {
  border-color: transparent;
  margin-bottom: -20px;
}

.item-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(12, 12, 136);
  font-size: larger;
  margin: 3%;
}

.discountRate{
  color: rgb(71, 69, 69);
  text-decoration: line-through;
}

.rate{
  font-size: 23px;
  font-weight: bold;
}
.item-list{
  padding: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px 50px;
  justify-content: space-evenly;
}

a{
  color: aliceblue;
  text-decoration: none;
}

.empty-cart{
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.slide-container{
  width: 100%;
  height: 87vh;
align-items: center;
text-align: center;

}
.content{
  align-items: center;
  text-align: center;
}

a:hover{
color: black;
font-weight: bold;
}

h4{
  align-items: center;
  display: flex;
 
}